<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Reset Your Password</title>
</head>
<body>
<p>
Reset your password by clicking on this link:<br>
<a href="http://grgpratik.pythonanywhere.com/api/password/reset/?code={{ code }}">http://192.168.200.49:8000/api/password/reset/?code={{ code }}</a>
</p>
</body>
</html>
