<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Thank you for signing up!</title>
</head>
<body>
<p><h4>Welcome to HomeCook, </h4> <br>
Verify your email address by clicking on this link:<br>
<a href="http://grgpratik.pythonanywhere.com/api/accounts/signup/verify/?code={{ code }}">http:///grgpratik.pythonanywhere.com/api/accounts/signup/verify/?code={{ code }}</a>
</p>
</body>
</html>
